body { 
    background-image: url(../images/prism/prism.png);
    padding-top: 100px; 
}
@media screen and (max-width: 768px) {
    body { padding-top: 60px; }
}
@media screen and (max-width: 400px) {
    body { padding-top: 100px; }
}

.green {
    background-color: #b4dbc0;
}

.darkblue {
    background-color: #30415d;
}

.lightblue {
    background-color: #4aaaa5;
}

.noMargin {
    margin: 0px;
}